@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
  margin: 0;
  padding: 0;
}
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}
.sec-title {
  text-align: center;
  font-size: 24px;
  color: rgb(240, 203, 37);
  font-family: 'Oswald', sans-serif;
  margin-top: 73px;
}
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.8;
  height: 180px;
}
.main-title:hover {
  color: rgb(240, 203, 37);
}

.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

#parallax-world-of-ugg h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#parallax-world-of-ugg h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0.9;
}
#parallax-world-of-ugg h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sc {
  color: #3b8595;
}
.ny {
  color: #3d3c3a;
}
.atw {
  color: #c48660;
}

#parallax-world-of-ugg .title {
  display: flex;
  justify-content: flex-end;
  background: white;
}
.title-item {
  margin-right: 40px;
  margin-bottom: 20px;
}
.box-top {
  display: flex;
  flex-wrap: wrap;
}
.top-item {
  border-radius: 8px;
  background: rgb(240, 203, 37);
  box-shadow: 2px 2px 2px black;
  border: 2px rgb(179, 201, 241) solid;
  width: 200px;
  height: 200px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  text-align: center;
}

.top-item-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}
#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

#parallax-world-of-ugg .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://links-stroy.ru/wp-content/uploads/2017/05/%D0%94%D0%B8%D0%B2%D0%B0%D0%BD-%D0%B2-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D1%8C%D0%B5%D1%80%D0%B5-%D1%81%D0%BF%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D1%8B-16.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://static.tildacdn.com/tild6131-6134-4833-a262-343036613736/Romano_-_Velluti_-_G.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../public/1.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-four {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../public/2.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-five {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../public/3.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-six {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(../public/4.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}
.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: none;
  color: black;
  margin-top: 30px;
}
.btn-box {
  display: flex;
  width: 100%;
}
.btn-go {
  background-color: rgba(240, 203, 37, 0.699);
  height: 50px;
  border-radius: 14px;
  width: 200px;
  margin: 0px auto;
  color: rgb(255, 255, 255);
  font-size: 24px;
  border: none;
  font-family: 'Oswald', sans-serif;
}
.btn-go:hover {
  color: rgb(0, 0, 0);
}
.footer {
  background-color: rgba(36, 36, 36, 0.911);
}
.first-box {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.link-footer {
  font-weight: bold;
  margin: 10px;
  display: flex;
  color: white;
  text-decoration: none;
}
.link-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.text {
  margin-left: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: rgb(5, 5, 59);
}

.photo {
  border-radius: 8px;
  width: 150px;
  height: 150px;
  border: 2px rgb(240, 203, 37) solid;
}

.box2 {
  background-image: url(../../client/public/1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 600px;
  color: rgba(255, 255, 255, 0.842);
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.photo-use {
  border-radius: 14px;
  max-width: 250px;
}

.text2 {
  background: rgb(240, 203, 37);
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-right: 20px;
  border: 2px rgb(30, 61, 119) solid;
  border-radius: 8px;
}
.list {
  display: flex;
}
.room {
  font-size: 18px;
}
.price-room {
  font-size: 24px;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  background-color: white;
  font-family: 'Oswald', sans-serif;
}
.nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: rgb(3, 3, 3);
}
.footer-link {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}
.photo-box {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  width: 90%;
  margin: 0px auto;
  height: 500px;
}
.oneCard {
  z-index: -15;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 220px;
}
.block-block {
  width: 60px;
  margin-right: -40px;
  height: 200px;
  z-index: -10;
  display: flex;
  background: rgb(240, 203, 37);
  border-top-left-radius: 8px;
}
.block-block2 {
  width: 60px;
  margin-left: -40px;
  height: 200px;
  z-index: -10;
  display: flex;
  background: rgb(15, 20, 82);
  border-top-right-radius: 8px;
}
.photo-use {
  border-radius: 14px;
  max-width: 250px;
  box-shadow: 2px 2px 2px rgb(8, 8, 8);
}
.text1 {
  font-family: 'Oswald', sans-serif;

  display: flex;
  margin-top: 210px;
  font-size: 18px;
  font-weight: bold;
  margin-left: -200px;
}
.text3 {
  font-family: 'Oswald', sans-serif;
  list-style: square;
  font-size: 18px;
  font-weight: bold;
}

/* Личный кабинет */
.user-profile {
  margin-left: 40px;
}
#btn-profile {
  width: 200px;
  font-weight: bold;
  background-color: rgb(240, 203, 37);
}

.user-main {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 80%;

  font-size: 24px;
}
#order-user {
  text-align: center;
  background-color: rgb(240, 203, 37);
  width: 200px;
}
.btn-box {
  display: flex;
  justify-content: center;
}
.ant-list-item {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
.ant-tabs-tab-btn {
  color: rgb(5, 5, 5);
}
.ant-tabs {
  font-family: 'Oswald', sans-serif;
}
.ant-tabs-ink-bar {
  border: 1px rgb(240, 203, 37) solid;
}
.ant-space-item {
  font-family: 'Oswald', sans-serif;
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 30px;
  }
  #parallax-world-of-ugg .block {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
  }
}

button:focus {
  outline: none !important;
}
